<% 
const clean = (v) => {
    if(typeof(v) == "object" && v != null && !(v instanceof Array)) {
        if(v.custom) return v.custom;
        if(v.value) return v.value;
    }
    if(typeof(v) != "string")v = JSON.stringify(v);
    if(v.includes("\n"))v = JSON.stringify(v);
    return v.replaceAll("\\\\","\\")
};
if(typeof(header) == "undefined")header = true;
if(typeof(columns) == "undefined")columns = 4;
if(props instanceof Array) { %>
<% if(props.length) { if(header) {%>#### Properties<% } %>
<% if(props.length > 19 || table) {%>|<%-"|".repeat(columns * 2)%>
|<%-"---|".repeat(columns*2)%><%let i = 0; for(const prop of props) { %><% if(!(i % columns)){%>
|<%}%><%= prop.name %>|<%=clean(prop.valueRaw)%>|<% i++; }%><%-"|".repeat((columns - (props.length % columns)) * 2)%>
<% } else {%>
<%for(const prop of props) {%>
 - `<%= prop.name %>` = `<%-clean(prop.type)%>`<% } %>
<% } } } else { 
if(props["#"]) {%><%- include("./_props.md.ejs",{section,name,props:props["#"],header:false,columns,table:true}) %><%}
    for(const start in props) { %>
<%if(start == "#") continue; %>
<div class="wrap-collabsible">
<input id="collapsible_<%=start%>" class="toggle" type="checkbox">
<label for="collapsible_<%=start%>" class="lbl-toggle"><%=start%></label>
<div class="collapsible-content">
<div class="content-inner">
<%- include("./_props.md.ejs",{section,name,props:props[start],header:false,columns:start=="Misc" ? 2 : 3,table:true}) %>
</div>
</div>
</div>
<% } } %>